<h1>Client <%= @client.name %> (<%= @client.prefix %>)</h1>

<p>Name: <%= @client.name %></p>
<p>Prefix: <%= @client.prefix %></p>

<h2>Projects:</h2>
<ul>
<% @projects.each do |p| %>
    <li><%= link_to p.name, project_path( p ) %></li>
<% end %>
</ul>

<%= link_to "Edit", edit_client_path( @client ) %>
<%= link_to "Delete", client_path( @client ), method: :delete %>
