  <%= form_for @timesheet do |f| %>
    <%= f.hidden_field :employee_id %>
    <%= f.hidden_field :week_id %>
    <div id="timesheet_details container-fluid">
      <%= f.fields_for :timesheet_details do |td| %>
        <%= render "timesheet_detail_fields", :f => td %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add detail', f, :timesheet_details %>
      </div>
    </div>
    <div class="col-xs-2"><%= f.submit "Save Timesheet", class: "btn btn-primary" %></div>
  <% end %>