<table>

  <%= form_for @timesheet do |f| %>
<tr>
<td colspan="1">
    <%= f.label(:employee_id, "Employee:") %>
</td>
<td colspan="9">
<%= f.select(:employee_id, Employee.all.pluck(:first_name, :id), { :selected => @current_user.id }, { class: "form-control timesheet-detail-select" }) %>
</td>
</tr>    
<tr>
<td colspan="1">
    <%= f.label(:week_id, "Week:") %>
</td>
<td colspan="9">
    <%= f.select(:week_id, Week.all.pluck(:start_date, :id), {}, { class: "form-control timesheet-detail-select" }) %>
</td>
</tr>
    <tr>
      <td>Activity</td>
      <td>Billable</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thu</td>
      <td>Fri</td>
      <td>Sat</td>
      <td>Sun</td>
      <td>Tot</td>
    </tr>
    <tbody id="timesheet_details">
      <%= f.fields_for :timesheet_details do |td| %>
        <%= render "timesheet_detail_fields", :f => td %>
      <% end %>
    </tbody>
<tr>
<td colpsan="1">
    <div class="links">
      <%= link_to_add_association 'add detail', f, :timesheet_details, { "data-association-insertion-node" => "#timesheet_details" } %>
    </div>
</td>
<td colspan="9">
    <div class="col-xs-2"><%= f.submit "Submit", class: "btn btn-primary" %></div>
</td>
</tr>
</table>
  <% end %>