  <%= form_for @timesheet do |f| %>
    <%= f.hidden_field :employee_id %>
    <%= f.hidden_field :week_id %>
    <div id="timesheet_details">
      <div class="form-row header-row">
        <div class="col-md-2 col-head"><label>Activity</label></div>
        <div class="col-md-1 col-head"><label>Billable</label></div>
        <div class="col-md-1 col-head"><label><%= @timesheet.week.day1_date.strftime("%a %-d/%m") %></label></div>
        <div class="col-md-1 col-head"><label><%= @timesheet.week.day2_date.strftime("%a %-d/%m") %></label></div>
        <div class="col-md-1 col-head"><label><%= @timesheet.week.day3_date.strftime("%a %-d/%m") %></label></div>
        <div class="col-md-1 col-head"><label><%= @timesheet.week.day4_date.strftime("%a %-d/%m") %></label></div>
        <div class="col-md-1 col-head"><label><%= @timesheet.week.day5_date.strftime("%a %-d/%m") %></label></div>
        <div class="col-md-1 col-head"><label><%= @timesheet.week.day6_date.strftime("%a %-d/%m") %></label></div>
        <div class="col-md-1 col-head"><label><%= @timesheet.week.day7_date.strftime("%a %-d/%m") %></label></div>
        <div class="col-md-1 col-head">Total Hours</div>
        <div class="col-md-1 col-head">&nbsp;</div>
      </div>

      <%= f.fields_for :timesheet_details do |td| %>
        <%= render "timesheet_detail_fields", :f => td %>
      <% end %>
     
    </div>
    <div class="links">
      <%= f.submit "Save Timesheet", class: "btn btn-primary" %>
      <%= link_to_add_association 'Add Row', f, :timesheet_details, { class: "btn btn-default", role: "button" }%>
    </div>
  <% end %>