  <div>
    <%= t.label(:activity_id, "Activity") %>
    <%= t.select(:activity_id, Activity.all.pluck(:name, :id), {}, { class: "form-control" }) %>
    <br>
    <%= t.label(:billable_flag, "Billable:") %>
    <%= t.select(:billable_flag, ['true','false'], {}, { class: "form-control" }) %>
    <br>
    <%= t.text_field :day1_hours, class: "form-control" %>
    <%= t.text_field :day2_hours, class: "form-control" %>
    <%= t.text_field :day3_hours, class: "form-control" %>
    <%= t.text_field :day4_hours, class: "form-control" %>
    <%= t.text_field :day5_hours, class: "form-control" %>
    <%= t.text_field :day6_hours, class: "form-control" %>
    <%= t.text_field :day7_hours, class: "form-control" %>

    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields 'Remove row' %>
  </div>