<h1>All Activities for Project</h1>

<%= select_tag :projects, options_for_select(Project.all.pluck(:name, :id)) %>

<br>
<br>
<% @projects.each do |p| %>
    <div id="project_<%= p.id %>", class="hidden">
    <% p.activities.each do |a| %>
        <li><%= a.project.client.name %> <%= link_to a.name, activity_path( a ) %> (<%= a.project.name %>)</li>
    <% end %>
    </div>
<% end %>
